In [1]:
# Importing Libraries
import pandas as pd
import mysql.connector
from mysql.connector import Error

In [2]:
# Creating MySQL server connectivity for databases
def server_connectivity(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            password = user_password
        )
        print("MySQL connection is established successfully")
    except Error as err:
        print(f"Error: '{err}'")
    return connection
# Put our MySQL passcode
pw = "1234"
# Database name
db = "extract_1"
connection = server_connectivity('localhost', 'root', pw)

MySQL connection is established successfully

In [3]:
# Creating MySQL_python
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database create successful")
    except Error as err:
        print(f"Error: '{err}'")
create_database_query = "Create database extract_1"
create_database(connection, create_database_query)

Database create successful

In [4]:
# Connect to database
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            password = user_password,
            database = db_name)
        print("MySQL connection is established successfully")
    except Error as err:
        print(f"Error: '{err}'")
    return connection

In [5]:
# Execute sql queries
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query was successful")
    except Error as err:
        print(f"Error: '{err}'")

In [6]:
create_orders_table = """
create table banks (
`Digits` int);
"""
# connect to the database
connection = create_db_connection('localhost', 'root', pw, db)
execute_query(connection, create_orders_table)

MySQL connection is established successfully
Query was successful

In [7]:
insert_orders_table = """
insert into banks values
(900000), 
(950000), 
(890000), 
(990000), 
(1090000), 
(1190000), 
(1290000),
(1990), 
(1890), 
(1790), 
(1690), 
(1590), 
(1490), 
(1390),
(1330), 
(1340), 
(1350), 
(1360), 
(1370), 
(1380), 
(1390);
"""
connection = create_db_connection('localhost', 'root', pw, db)
execute_query(connection, insert_orders_table)

MySQL connection is established successfully
Query was successful

In [8]:
# Reading Queries
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [9]:
# Using the select statement
q1 = """
select * from banks;
"""
connection = create_db_connection('localhost', 'root', pw, db)
results = read_query(connection, q1)
for result in results:
        print(result)

MySQL connection is established successfully
(900000,)
(950000,)
(890000,)
(990000,)
(1090000,)
(1190000,)
(1290000,)
(1990,)
(1890,)
(1790,)
(1690,)
(1590,)
(1490,)
(1390,)
(1330,)
(1340,)
(1350,)
(1360,)
(1370,)
(1380,)
(1390,)