In [1]:
# Importing Libraries
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [2]:
# Creating MySQL server connectivity for databases
def server_connectivity(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            password = user_password
        )
        print("MySQL connection is established successfully")
    except Error as err:
        print(f"Error: '{err}'")
    return connection
# Put our MySQL passcode
pw = "1234"
# Database name
db = "bank_1"
connection = server_connectivity('localhost', 'root', pw)

MySQL connection is established successfully

In [3]:
# Creating MySQL_python
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database create successful")
    except Error as err:
        print(f"Error: '{err}'")
create_database_query = "Create database bank_1"
create_database(connection, create_database_query)

Database create successful

In [4]:
# Connect to database
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            password = user_password,
            database = db_name)
        print("MySQL connection is established successfully")
    except Error as err:
        print(f"Error: '{err}'")
    return connection

In [5]:
# Execute sql queries
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query was successful")
    except Error as err:
        print(f"Error: '{err}'")

In [12]:
create_orders_table = """
create table banks (
`Loan_A/C_No` int primary key,
`Transaction_Date` datetime not null,
`Particulars` varchar(20) not null,
`Type_of_Transaction` varchar(20) not null,
`Debit` int not null,
`Credit` int not null,
`Closing_Balance` int not null,
`Branch_Code or IFSC` varchar(20));
"""
# connect to the database
connection = create_db_connection('localhost', 'root', pw, db)
execute_query(connection, create_orders_table)

MySQL connection is established successfully
Query was successful

In [27]:
# Checking Validation
df1 = pd.read_csv("Banks.csv")
df1

,Loan_A/C_No,Transaction_Date,Particulars,Type_of_Transaction,Debit,Credit,Closing_Balance,Branch_Code or IFSC
0,1,2024-04-22 10:15:30,Rinku Singh,BI,350000,450000,900000,Branch_Code
1,2,2023-05-22 10:15:30,Ishita Mishra,CI,400000,500000,950000,IFSC
2,3,2022-06-22 10:15:30,Kiriti Sanon,BI,450000,550000,890000,Branch_Code
3,4,2022-07-22 12:15:30,Preeti Singh,CI,550000,650000,990000,IFSC
4,5,2021-08-22 10:15:30,Meesha Aggarwal,BI,650000,750000,1090000,Branch_Code
5,6,2020-09-22 10:15:30,Ishika Sanon,CI,750000,850000,1190000,IFSC
6,7,2019-10-22 10:15:30,Pinky Singh,BI,850000,950000,1290000,Branch_Code

In [28]:
def check_validate(row):
    if isinstance(row["Loan_A/C_No"], int) or isinstance(row["Transaction_Date"], str) or isinstance(row["Particulars"], str) or isinstance(row["Type_of_Transaction"], str) or isinstance(row["Debit"], int) or isinstance(row["Credit"], int) or isinstance(row["Closing_Balance"], int) or isinstance(row["Branch_Code or IFSC"], str):
        print("Not Validated")
    else:
        print("Validated")

In [29]:
check_validate(df1)

Validated

In [30]:
df1.to_csv("Data1.csv")